<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.koinichi.ms2boss"
    android:versionCode="2"
    android:versionName="1.1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".BossTimer"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="kr.koinichi.ms2boss.BossActivity"
            android:label="@string/app_name"
            android:parentActivityName="kr.koinichi.ms2boss.BossTimer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.koinichi.ms2boss.BossTimer" />
        </activity>

        <activity
            android:name="kr.koinichi.ms2boss.BasicSettingActivity"
            android:label="@string/app_name"
            android:parentActivityName="kr.koinichi.ms2boss.BossTimer" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.koinichi.ms2boss.BossTimer" />
        </activity>

        <activity
            android:name="kr.koinichi.ms2boss.NotiFlagSettingActivity"
            android:label="@string/app_name"
            android:parentActivityName="kr.koinichi.ms2boss.BasicSettingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.koinichi.ms2boss.BasicSettingActivity" />
        </activity>

        <activity
            android:name="kr.koinichi.ms2boss.ShowFlagSettingActivity"
            android:label="@string/app_name"
            android:parentActivityName="kr.koinichi.ms2boss.BasicSettingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.koinichi.ms2boss.BasicSettingActivity" />
        </activity>

    </application>

</manifest>
